<!doctype html><html><head><meta charset='utf-8'><title>{{ title }} | ABC Design</title><link rel='stylesheet' href='/assets/css/main.css'></head><body>{% include 'header.njk' %}<main>{{ content | safe }}</main>{% include 'footer.njk' %}</body></html>