---
layout: layout.njk
title: Projects
permalink: /projects/
---
{% set pageHero = {
  id: "projects-title",
  title: "Projects",
  text: "Project examples will be added here."
} %}
{% include "page-hero.njk" %}
